body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

.header-container {
    height: 70px;
    background-color: #1388d8;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: center;
}
.header-container:before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 100%;
    vertical-align: middle;
}
.header-title {
    display: inline-block;
}
.left-sidebar {
    width: 25%;
    border-right: 1px solid #e3e5e6;
    box-sizing: border-box;
}
.main {
    color: #195b8a;
}
.main-content {
    width: 75%;
}

.dl-header {
    padding: 10px 5px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #e3e5e6;
}

.dl-list__item {
    border-top: 1px solid #e3e5e6;
    font-size: 13px;
}

.dl-list__item a {
    display: block;
    padding: 10px 5px;
    color: inherit;
    text-decoration: none;
}

.l-inline {
    display: inline-block;
    vertical-align: top;
}